.cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
}
.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cart-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-info{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 1em 0;
    justify-content: space-between;
}
.product-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 0.1em; */
    line-height: 0.01em;
}
hr{
    background-color: var(--color-rose-300);
    height: 1px;
    border: none;
}
.quantity-product-container{
    
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.remove-item-button{
    background: none;
    border: 1px solid var(--color-rose-500);
    border-radius: 50%;
    height: 1em;
    padding: 0.6em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-item-button img{
    width: 0.6em;
    height: 0.6em;
}
.remove-item-button:hover{
    border: 1px solid var(--color-rose-900);
}
.product-quantity{
    font-size: var(--proFontSize-Font-size);
    color: var(--color-red);
    font-weight: bold;
}
.product-price{
    font-size: var(--proFontSize-Font-size);
    color: var(--color-rose-500);
    font-weight: var(--font-regular);
}
.product-name{
    font-size: var(--proFontSize-Font-size);
    color: var(--color-rose-900);
    font-weight: var(--font-medium);
}
.order-total-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.carbon-neutral{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8em;
    background-color: var(--color-rose-100);
    border-radius: 8px;
}
.carbon-neutral-span-element{
    font-weight: bold;
}
.confirm-order-button{
    background-color: var(--color-rose-500);
    color: rgba(255, 255, 255, 0.623);
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 8px;
    cursor: pointer;
    font-size: var(--proFontSize-Font-size);
    font-weight: var(--font-medium);
    width: 100%;
    border-radius: 1em;
    margin-top: 1em;

}
.confirm-order-button:hover{
    background-color: var(--color-red);
    color: white;
}