.product {
    position: relative;
    /* background-color: var(--color-rose-50); */
    transition: transform 0.2s;
    font-size: var(--proFontSize-Font-size);
    margin: 1em 0;
}




h2{
    font-size: var(--proFontSize-Font-size);
    color: var(--color-rose-900);
    font-weight: bold;
}
.product-price {
    font-size: var(--proFontSize-Font-size);
    color: var(--color-red);
    font-weight: bold;
}


.product-image-container {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

.product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
    border-radius: 10px;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    height: 3em;
    padding: 1em;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: ccc;
    border: 1px solid var(--color-rose-900);
    color: var(--color-rose-900);
    
    padding: 1em;
    border-radius: 2em;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 50%;
    font-weight: var(--font-medium);

}

.add-to-cart-icon{
    width: 1rem;
    height: 1rem;
    display: block;
}
.add-to-cart-button:hover{
    border: 1px solid var(--color-red);
    color: var(--color-red)
}
.product-image-container:hover  {
    border: 2px solid var(--color-red);
}
